@import "tailwindcss";

@theme {
  --color-primary: #1a73e8;
  --color-success: #0f9d58;
  --color-warning: #f4b400;
  --color-error: #db4437;

  --color-brand-primary: #1e3a8a;
  --color-brand-secondary: #8b8cf6;
  --color-brand-surface: #f8f9ff;

  --font-sans: "Inter", system-ui, sans-serif;
}
