APP_NAME=Anomaly Python Service
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8090
VISION_PIPELINE_BACKEND=disabled
ALLOW_STUB_VISION_PIPELINE=false
MATCH_THRESHOLD=0.78
LIVENESS_THRESHOLD=0.85
MAX_IMAGE_BYTES=10485760
MAX_VIDEO_BYTES=26214400
MIN_VIDEO_DURATION_SECONDS=3
DEFAULT_CHALLENGE_TYPE=TURN_HEAD_LEFT_RIGHT_BLINK
